<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.724126215320-jnfs4sron7qpm5j5cckmjn0e23o8ojjj</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>724126215320-jnfs4sron7qpm5j5cckmjn0e23o8ojjj.apps.googleusercontent.com</string>

	<!-- 定位权限说明 -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要获取您的位置来实现圈地、通讯距离过滤等功能</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>需要获取您的位置来实现圈地、通讯距离过滤等功能</string>
</dict>
</plist>
